<link href="https://webitcloud.net/PW/1617/RMR/Model/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://webitcloud.net/PW/1617/RMR/Model/stylesheets/prettyPhoto.css" rel="stylesheet">
<link href="https://webitcloud.net/PW/1617/RMR/Model/stylesheets/style.css" rel="stylesheet">
<link href="https://webitcloud.net/PW/1617/RMR/Model/stylesheets/dark.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<link rel="icon" href="https://webitcloud.net/PW/1617/RMR/Views/images/FavIcon.png">
<link rel="shortcut icon" href="https://webitcloud.net/PW/1617/RMR/Views/images/FavIcon.png">
<link rel="manifest" href="https://webitcloud.net/PW/1617/RMR/Model/manifest/manifest.json">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://webitcloud.net/PW/1617/RMR/Model/jquerybootstrap/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src='https://webitcloud.net/PW/1617/RMR/Model/jquerybootstrap/jquery.easing.min.js' type='text/javascript'></script>
<script src='https://webitcloud.net/PW/1617/RMR/Model/jquerybootstrap/jquery.mixitup.min.js' type='text/javascript'></script>
<script src='https://webitcloud.net/PW/1617/RMR/Model/jquerybootstrap/jquery.nicescroll.min.js' type='text/javascript'></script>
<script src='https://webitcloud.net/PW/1617/RMR/Model/jquerybootstrap/jquery.prettyPhoto.js' type='text/javascript'></script>
<script src="https://webitcloud.net/PW/1617/RMR/Model/jquerybootstrap/bootstrap.js" type="text/javascript"></script>
<script src="https://webitcloud.net/PW/1617/RMR/Model/javascripts/functions.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    #pais {
        padding-left: 100px;
    }

    th {
        border-bottom: 1px solid #ddd;
    }

    td {
        padding-top: 10px;
    }

    #fototd {
        padding-left: 100px;
    }

    #foto {
        padding-right: 250px;
        padding-left: 100px;
    }

    p {
        font-weight: bold;
    }
</style>
<div class="navbar navbar-inverse navbar-fixed-top scrollclass">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a id="homeBtn" href="#home-sec" class="navbar-brand"><img src="https://webitcloud.net/PW/1617/RMR/Views/images/LogoTlm.png" height="30" width="30" class="img-responsive"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://wcomunic.herokuapp.com/#destaques-sec">Destaques</a></li>
                <li id="maisPacotesBtn"> <a href="https://wcomunic.herokuapp.com/#pacotes-sec">Pacotes</a></li>
                <li><a href="https://wcomunic.herokuapp.com/#info-sec">Informações</a></li>
                <li id="refreshPNum" class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle">Entrar<b class="caret"></b></a>
                    <ul style="padding: 15px;min-width: 250px;" class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="changeUp">
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END NAB BAR SECTION-->
<div id="home-sec">
    <div class="overlay">
        <div class="container">
            <div class="col-md-8 pad-top scrollclass">
                <h1><strong>
                <mark>WebComunic</mark>
                <h2></h2>Connect Yourself</strong></h1>
                <p>Todos os pacotes do mercado reunidos num só lugar.</p>
                <p>Descontos eletricamente apelativos.</p>
                <p>Fácil pesquisa por contéudo, preço ou localidade</p>
                <p>Satisfação Máxima.</p><a id="pacotesbtn" href="https://wcomunic.herokuapp.com/#pacotes-sec" color="red" background-color="white"
                    class="btn btn-danger btn-lg btn-home">Ver Pacotes<i class="fa fa-toggle-on"></i></a>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>
<section id="registo-sec">
    <div class="container">

        <table align="center">
            <tr>
                <th>
                    <h2>WebComunic em Portugal</h2>
                </th>
            </tr>
            <tr>
                <td>
                    <div style="width:100%" align="center">
                        <img src="https://webitcloud.net/PW/1617/RMR/Views/images/Formal/Portugal.png" style="width:335px;height:335px;" alt="Onde estamos..."
                            border="0" align="middle" usemap="#Map">
                        <map name="Map">
        <area shape="circle"  coords="170,40,18" alt="Porto">
        <area shape="circle" coords="250,40,18"  alt="Bragança">
        <area shape="circle" coords="170,130,18"  alt="Coimbra">
        <area shape="circle"  coords="125,185,18"  alt="Lisboa">
        <area shape="circle" coords="210,175,18"  alt="Portalegre">
        <area shape="circle" coords="210,320,18"  alt="Faro">
        <area shape="circle"  coords="90,270,18"  alt="Madeira">
    </map>
                    </div>
                    <div class="WTT">
                        <address>
                            <strong>Porto</strong><br /> Av. da Boavista 2949, 4100-120 Porto
                        </address>

                    </div>
                    <div class="WTT">
                        <address>
                            <strong>Bragança</strong><br /> Av. Sá Carneiro 2, 5300-021 Bragança
                        </address>
                    </div>
                    <div class="WTT">
                        <address>
                            <strong>Coimbra</strong><br /> R. Simões de Castro 318, 3000-387 Coimbra
                        </address>
                    </div>
                    <div class="WTT">
                        <address>
                            <strong>Lisboa</strong><br /> Av. de Roma 42C, 1700-115 Lisboa
                        </address>
                    </div>
                    <div class="WTT">
                        <address>
                            <strong>Portalegre</strong><br />Avenida Movimento das Forças Armadas 6, Centro Comercial Fontedeira,
                            Lojas 8 e 9, 072, 7300 Portalegre
                        </address>
                    </div>
                    <div class="WTT">
                        <address>
                            <strong>Faro</strong><br />Av. Dr. Julio F. de Almeida Carrapato 45, 8000-123 Faros
                        </address>
                    </div>
                    <div class="WTT">
                        <address>
                            <strong>Madeira</strong><br />Av. da Liberdade 261B, 3700-153 São João da Madeira
                        </address>

                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>
<section id="info-sec">
    <div class="container">
        <div class="row text-center min-set">
            <div class="col-md-12">
                <h2>
                    <mark class="head-glow">MAIS </mark>INFORMAÇÕES
                </h2>
                <hr class="sub-hr">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-center"></div>
            <div class="col-md-4 text-center">
                <h3>Sobre a
                    <mark class="head-glow">WebComunic</mark>
                </h3>
                <hr class="sub-hr">
                <form id="disclaimerForm" action="/disclaimer" method='POST' role="form" accept-charset="UTF-8" class="form">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button id="botaoDisclaimer" class="btn btn-warning btn-block">Agradecimentos e Disclaimer</button>
                        </div>
                    </div>
                </form>
                <form action="http://webitcloud.net/PW/1617/RMR/Externos/Manual-de-Utilizador-WebComunic-Projeto-II.pdf">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button id="botaoDoc" class="btn btn-warning btn-block">Manual de Utilizador</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 text-center">
                <h3>Mais
                    <mark class="head-glow">Informações</mark>
                </h3>
                <hr class="sub-hr">
                <form id="lojasForm" action="/lojas" method='POST' role="form" accept-charset="UTF-8" class="form">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button id="botaoLojas" class="btn btn-warning btn-block">Lojas</button>
                        </div>
                    </div>
                </form>
                <form id="contactosForm" action="/contactos" method='POST' role="form" accept-charset="UTF-8" class="form">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <button id="botaoContactos" class="btn btn-warning btn-block">Contactos</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2 text-center"></div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.WTT').css({
                position: 'absolute'
            }).hide()
            $('area').each(function (i) {
                $('area').eq(i).bind('mouseover', function (e) {
                    $('.WTT').eq(i).css({
                        top: e.pageY,
                        left: e.pageX
                    }).show()
                })
                $('area').eq(i).bind('mouseout', function () {
                    $('.WTT').hide()
                })
            })
        });
    </script>
</section>